{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <p>This blog is for anyone who loves to cook and for everyone who doesn’t.<br>

Here are five reasons I think you’ll love my blog, whether you’re a seasoned chef or just starting out: <br>

Great recipes. It’s a food blog, so naturally you’re going to find recipes here. But I only share the recipes I really,
           truly love. You won’t find anything here that I’ve never made before or would never make again.
           Every recipe I post has my stamp of approval—if I wouldn’t eat it or serve it, you won’t find it here.<br>
Step-by-step instructions with photos. When I first started cooking, I was unsure about so many things:
           How big should I dice the onions? How thick should I cut the vegetables? What should this look like halfway
           through the recipe when it looks NOTHING like the final photo? When I created this blog, my goal was to take
           away some of that uncertainty by including tons of photos to bring each step of the recipe to life.<br>
Helpful tips and techniques. I love learning any skill that helps me get the job done faster, easier or with a better result.
           That’s why I created a page of nothing but useful tips and techniques.<br>
Bloopers. Let’s face it – sometimes cooking just doesn’t go as planned. Don’t let that discourage you, though.
           Look at my mistakes, learn from them and laugh along with me.
           It’s just food…if it doesn’t turn out, salvage what you can, toss the rest and just try again next time.<br>
Fun! Food and fun come together in this blog because everything about food should be fun:
           eating it, making it and even making a mess of it.<br>
When I’m not perusing cookbooks and websites planning my next meal, in the kitchen making my next meal or in a
           food coma enjoying my most recent meal, I’m either working or playing.
           I work as a freelance writer and editor and have written about everything from medical devices to market research,
           from health and wellness to scientific inventions, from cancer to training materials.
           For fun, I love golfing, swing dancing and traveling. I bring my taste buds with me on every trip and often come home inspired to recreate the fabulous new foods and flavors I just experienced. And my adventurous side isn’t limited to just trying weird new recipes or exotic foods—I’ve visited more than 30 countries, I’m a former skydiver with more than 700 jumps, and I routinely eat the unlabeled, unidentifiable, freezer-burned artifacts from the depths of my outdoor freezer.<br>

If you tried one of my recipes or techniques and loved it (or even if you didn’t), let me know. Also, feel free to share any of my recipes, posts or photos, but just be sure to credit my blog and mention that you found it here first. I do my best to give credit to my sources as well. It’s just good food karma.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}